
.navbar-brand {
    font-size: 75px;
}

.navbar-default {
    background-color: white;
    border-color: white;    
    /* padding: 30px 50px 0; */
}

/* .container {
    padding: 0px 0px 0px 13%;
} */

.navbar-form .form-control {
    width: 500px;
    height: 50px;
} 

.navbar-form .btn {
    height: 50px;
}

.button-style {
    font-size: 30px;
}

.header {
    background-color: #f5f5f5;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 100%;
    padding-top: 15px;
    height: 250px;
    display: table;
}

.user-profile-picture {
    border: 5px solid black;
    width: 217px;
    height: 217px;
    float: left;
    margin-right: 10%;
}

.brief-summary {
    margin-top: 2%;
    /* border: 5px solid red; */
    width: 550px;
    height: 150px;
    float: left;
    margin-right: 8%;
}

.modify-menu {
    margin-top: 2%;
    padding-left: 2%;
    border-left: 1px solid gray;
    float: left;
    width: 500px;
    height: 150px;
}

.modify-menu ul li{
    font-size: 30px;
    margin-bottom: 3%;
}

.main-content {
    width: 100%;
}

.profile-list {
    margin-top: 2%;
    /* border: 5px solid black; */
    width: 217px;
    height: 1000px;
    float: left;
    margin-right: 10%;
}

.recent-activity {
    margin-top: 2%;
    float: left;
    border: 0px solid green;
    width: 550px;
    height: 700px;
    margin-right: 8%;
}

.about-user {
    padding-left: 2%;
    margin-top: 2%;
    float: left;
    border-left: 1px solid gray;
    width: 250px;
    height: 700px;
}

.recent-activity h1 {
    color: red;
}

.recent-activity hr {
    height: 12px;
}

.about-user h1 {
    color: red;
}

.profile-list a {
    font-size: 30px;
}

.navbar-header {
    padding-right: 50px;
}