.events-container {
    border: 3px solid black;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
}

.res_name {
    font-size : 40px;
    font-weight: 300px;
}

.inline-h1 {
    display: inline-block;
}

.go-right {
    float: right;
}