.event-container {
    border: 3px solid black;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
}

.event-content {
    padding: 10px;
    border: 1px solid black;
    height: 400px;
}

.register-btn {
    width: 200px;
    height: 70px;
    font-size: 30px;
}