.orders-container {
    /* border: 3px solid black; */
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.inline-h1 {
    display: inline-block;
}

.inline-div {
    display: inline-block;
}

.div-go-right {
    float: right;
}

.orders-container li {
    padding-top: 20px;
    padding-bottom: 30px;
}

.each-order {
    border: 1px solid black;
    padding: 15px;
    margin: 20px;
}